
¿Qué diferencia hay entre una Serie y un DataFrame?

La serie es de estructura Bidimensional y el DataFrame es Bidimensional.
La serie contiene un solo tipo de dato y el DataFrame contiene varios tipos de Datos

Crea dos listas:

Una que se llame "valores" que tenga 7 números aleatorios.

Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

In [3]:
import pandas as pd

In [42]:
import numpy as np

In [1]:
valores = [34, 38, 14, 2, 12, 9, 25]

indices = ["lunes", "martes", "miercoles", "jueves", "viernes", "sabado", "domingo"]

A partir de estas dos listas crea una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.

In [5]:
serie = pd.Series(valores, index = indices)
serie

lunes        34
martes       38
miercoles    14
jueves        2
viernes      12
sabado        9
domingo      25
dtype: int64


A partir de las dos listas anteriores crea un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.

In [29]:
resultado = zip(indices,valores)
result_diccionario = dict(resultado)
print(result_diccionario)

{'lunes': 34, 'martes': 38, 'miercoles': 14, 'jueves': 2, 'viernes': 12, 'sabado': 9, 'domingo': 25}


Crea una Serie con el diccionario creado en el punto anterior.

In [30]:
serie_diccionario = pd.Series(result_diccionario)
serie_diccionario

lunes        34
martes       38
miercoles    14
jueves        2
viernes      12
sabado        9
domingo      25
dtype: int64


¿Qué forma tiene esta última Serie?

¿Qué tipo de datos tiene?

¿Qué tamaño tiene?

¿Cuáles son los índices de la Serie?

¿Y los values?

In [31]:
print(serie_diccionario.shape)

(7,)

In [32]:
print(serie_diccionario.dtypes)

int64

In [33]:
print(serie_diccionario.size)

7

In [34]:
print(serie_diccionario.index)

Index(['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado',
       'domingo'],
      dtype='object')

In [35]:
print(serie_diccionario.values)

[34 38 14  2 12  9 25]


Extrae el valor para el índice "lunes"

Extrae el valor para el índice "lunes", "martes" y "miércoles".

Extrae el valor para el índice "lunes" y "domingo".

In [36]:
serie_diccionario

lunes        34
martes       38
miercoles    14
jueves        2
viernes      12
sabado        9
domingo      25
dtype: int64

In [37]:
print(serie_diccionario["lunes"])

34

In [39]:
print(serie_diccionario[:3])

lunes        34
martes       38
miercoles    14
dtype: int64

In [40]:
print(serie_diccionario[[0,6]])

lunes      34
domingo    25
dtype: int64

/var/folders/_8/rv04zc812vngdv98w27kqfbw0000gp/T/ipykernel_7200/51741687.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(serie_diccionario[[0,6]])

In [41]:
print(serie_diccionario[["lunes", "domingo"]])

lunes      34
domingo    25
dtype: int64

Crea un array de dos dimensiones con 4 filas y 3 columnas.

In [45]:
array_vacio = np.empty((3,4))

Convierte el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

In [49]:
df = pd.DataFrame(array_vacio, index = ["España", "Francia", "Italia"])
df

           0    1    2    3
España   0.0  0.0  0.0  0.0
Francia  0.0  0.0  0.0  0.0
Italia   0.0  0.0  0.0  0.0

Descarga el archivo "medallas" y carga el DataFrame.

In [57]:
df_medallas = pd.read_csv("medallas.csv", index_col =0)
df_medallas

               País   Oro  Plata  Bronce
1             China  1473    994     720
2             Japón  1032   1037     985
3     Corea del Sur   745    663     827
4              Irán   179    181     197
5        Kazajistán   155    158     224
6             India   154    202     315
7         Tailandia   132    175     278
8         Indonesia   112    131     240
9      China Taipéi    99    144     276
10  Corea del Norte    91    120     235


Usando el loc extrae todas las columnas de la fila de Tailandia.

In [61]:
df_medallas.loc[7]

País      Tailandia
Oro             132
Plata           175
Bronce          278
Name: 7, dtype: object